<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.bumbumapps.musicplayer">
   <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Workaround for ExoPlayer requiring unnecessary permissions -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        />

    <queries />

    <application
        android:name="org.bumbumapps.musicplayer.AuxioApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/musicplayer"
        android:label="@string/info_app_name"
        android:roundIcon="@drawable/musicplayer"
        android:supportsRtl="true"
        android:theme="@style/Theme.Auxio.App">

        <activity
            android:name="org.bumbumapps.musicplayer.MainActivity"
            android:exported="true"
            android:icon="@drawable/musicplayer"
            android:launchMode="singleTask"
            android:roundIcon="@drawable/musicplayer"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <service
            android:name="org.bumbumapps.musicplayer.playback.system.PlaybackService"
            android:foregroundServiceType="mediaPlayback"
            android:icon="@drawable/musicplayer"
            android:roundIcon="@drawable/musicplayer" />

        <receiver
            android:name="org.bumbumapps.musicplayer.widgets.WidgetProvider"
            android:exported="false"
            android:label="@string/lbl_playback">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8444865753152507~6932205868"/>
    </application>
</manifest>